* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    background-color: rgb(71, 71, 71)
}

/* Loading Screen --- Loading Screen */

header {
    overflow: visible;
    position: sticky;
}

.nav-bar {
    overflow: visible;
    display: flex;
    justify-content: right;
    z-index: 1000;
    margin: 3.5rem 4rem;
}

.nav-bar ul {
    overflow: visible;
    display: flex;
    gap: 2rem;
}

.nav-bar a {
    overflow: visible;
    font-size: 1.35rem;
    color: rgb(255, 255, 255);
}

.nav-bar a:hover {
    transform: scale(1.35);
    transition: 200ms;
}

.nav-bar a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(91, 135, 205);
    transform: scaleX(0);
}

.nav-bar a::after {
    content: "Click!";
    position: absolute;
    font-size: .6rem;
    bottom: -.65rem;
    left: 0;
    transform: scaleX(0);
}

.nav-bar a:hover::after {
    transform:scaleX(1);
}

.button:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 400ms ease-out;
}